* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

nav {
    position: relative;
    z-index: 5;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 120px;
    min-width: 600px;
    margin-bottom: 150px;
    transition: all 5s ease-in-out;
}

nav:hover {
    transform: scale(1.2);
}

.music-control {
    padding: 15px;

}

canvas {
    z-index: 1;
    position: absolute;
    top: -40px;
}

input[type="range"] {
    height: 4px;
    border-radius: 4px;
    margin: 15px;
    transition: all 1s ease-in-out;
}

input[type="range"]:hover {
    transform: scale(1.2);
    filter: hue-rotate(80deg);
}


article {
    margin-top: 50px;
    position: relative;
    z-index: 4;
    text-align: center;
    z-index: 5;
    display: block;
    align-self: auto;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 600px;
    transition: all 10s ease-in-out;
}

article:hover {
    transform: scale(1.5);
}

footer {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    background-color: black;
    position: absolute;
    z-index: 5;
    /* define a posição como absoluta */
    bottom: 0;
    /* posiciona o footer no rodapé */
    width: 100%;
    /* preenche a largura total da página */
    text-align: center;
    /* centraliza o conteúdo horizontalmente */
    padding: 15px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
    list-style: none;
    transition: all 1s ease-in-out;
}

li:hover {
    transform: scale(1.2);
}

h1 {
    position: relative;
    z-index: 5;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.fundo-logo-git {
    fill: white;
    transition: all 1s ease-in-out;
}

.fundo-logo-git:hover {
    transform: scale(1.2);
}

.font-exo {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Exo 2', sans-serif;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.5);
}

.font-exo-small {
    margin-top: 350px;
    color: rgb(255, 255, 255);
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
}

.font-space-mono {
    color: white;
    font-family: 'Space Mono', monospace, sans-serif;
}